@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --dartmouth-green: #306b34ff;
  --header-color: #1c5253ff;
  --project-title-color: #efd6acff;
  --sidebar-color: #f1f0ccff;
  --pictorial-carmine: #b6174bff;
  --content-padding: 30px;
}

* {
  margin: 0px;
  padding: 0px;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: 30% 1fr;
  grid-template-rows: 100px 1fr;
  font-family: 'Roboto';

}

.header {
  background-color: var(--header-color);
  grid-column: 1/-1;
  color: white;
  display: grid;
  align-items: center;
  padding: var(--content-padding);
}

.logo-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr;
  align-items: center;
}

.logo {
  -webkit-filter: invert(100%);
}

.sidebar {
  background-color: var(--sidebar-color);
  grid-row: 2;
}

.content{
  grid-row: 2;
  grid-column: 2;
  padding: var(--content-padding);
  display: grid;
  grid-template-rows: auto 1fr;
  gap: 20px;
}

.project-container {
  display: grid;
  gap: 20px;
}

.project {
  border: black 1px solid;
  display: grid;
  gap: 5px;
}

.project-header {
  background-color: var(--project-title-color);
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr auto auto;
  justify-content: space-between;
}

ul.task-list {
  margin-left: 30px;
  padding: 5px;
}

span.task {
  position: relative;
  margin-left: -10px
}

.task-description {
  grid-column: 2;
  display: none;
}

.task-container {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
}

ul {
  list-style-position: inside;
}

.add-project-button {
  border: black 1px solid;
  border-radius: 8px;
}